.feedback {
    padding: 112px 0;
    margin-bottom: 120px;

    background-image: url("/assets/image/back-feedback.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include responsive_table {
        padding: 80px 0;
    }

    @include responsive_mobile {
        padding: 48px 0;
        margin-bottom: 80px;
    }

    &-wrapper {
        @include flexBox(hor);
        justify-content: space-around;
    }

    &-title {
        font-size: 6.8rem;
        max-width: 46%;
        font-family: $font-dcs;

        @include responsive_fitLow {
            font-size: 5.2rem;
            max-width: 100%;
        }

        @include responsive_bothTM {
            max-width: 82%;
            text-align: center;
        }

        @include responsive_mobile {
            max-width: 100%;
            font-size: 4rem;
        }
    }

    &-slide {
        max-width: 42%;
        padding-bottom: 32px;
        user-select: none;

        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px;
        background-color: #15151d;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        background-image: url("/assets/image/feedback-item.webp");

        &__item {
            padding: 48px 80px 0;

            @include responsive_mobile {
                padding: 36px 20px 0;
            }
        }

        &__cover {
            @include flexBox(hor);
            margin-top: 24px;
        }

        &__text {
            font-size: 2.2rem;
            font-family: $font-vol;
        }

        &__img {
            margin-right: 24px;
            max-width: 100px;
        }

        &__name {
            text-transform: uppercase;
            color: $color-main;
            font-size: 1.8rem;
        }

        &__author {
            color: $color-text;
            margin-top: 2px;
        }

        .swiper-pagination {
            position: relative;
            bottom: 0;
            margin-top: 22px;

            &-bullet {
                margin: 0 8px !important;
                background-color: #9696a0;
                opacity: 1;

                &-active {
                    position: relative;
                    background-color: $color-main;

                    &::before {
                        position: absolute;
                        content: "";
                        inset: -4px;
                        border-radius: 50%;
                        border: 1.4px solid $color-main;
                    }
                }
            }
        }
    }
}
