.footer {
    background-color: #222226;

    &-header {
        @include gridBox(3, 0, 0);
        padding: 24px 0;
        border-bottom: 1px solid #707070;

        @include responsive_bothTM {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 20px;
        }

        @include responsive_mobile {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 22px;
        }

        &__social {
            @include flexBox(hor);
            min-width: 400px;

            @include responsive_bothTM {
            }

            @include responsive_mobile {
                justify-content: center;
            }

            & > p {
                text-transform: uppercase;
            }
        }

        &__link {
            width: 28px;
            height: 28px;
            margin-left: 16px;
            color: #fff;

            & > svg {
                width: 100%;
                height: 100%;
            }
        }

        &__logo {
            max-width: 353px;
            margin: 0 auto;

            @include responsive_bothTM {
                margin-left: auto;
            }

            @include responsive_mobile {
                margin: 0 auto;
            }
        }

        &__group {
            max-width: 400px;
            width: 100%;
            position: relative;

            @include responsive_bothTM {
                max-width: 60%;
                margin: 0 auto;
            }

            @include responsive_mobile {
                min-width: 100%;
            }
        }

        &__input {
            width: 100%;
            border: 1px solid $color-text;
            background-color: transparent;
            font-size: 1.6rem;
            padding: 12px 16px;
        }

        &__btn {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-75%);
        }
    }

    &-info {
        text-align: center;
        padding: 78px 0;
        @include gridBox(3, 0, 0);

        @include responsive_fitLow {
            padding: 64px 0;
        }

        @include responsive_bothTM {
            padding: 40px 0;
        }

        @include responsive_mobile {
            gap: 32px;
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }

        &__title {
            font-size: 2.6rem;
            padding-bottom: 12px;

            @include responsive_fitLow {
                font-size: 2.2rem;
            }

            @include responsive_bothTM {
                font-size: 2rem;
            }
        }

        &__desc {
            color: $color-text;
            font-size: 1.8rem;

            @include responsive_bothTM {
                font-size: 1.6rem;
            }
        }
        &__address,
        &__cover,
        &__time {
            @include flexBox(both);
            flex-direction: column;
        }

        &__address {
            .footer-info__desc {
                margin: 0 auto;
                max-width: 60%;

                @include responsive_bothTM {
                    max-width: 80%;
                    font-size: 1.6rem;
                }

                @include responsive_mobile {
                    max-width: 60%;
                }
            }
        }

        &__mail {
            margin-bottom: 4px;
            color: #fff;
        }

        &__time {
            position: relative;

            &::after,
            &::before {
                position: absolute;
                content: "";
                top: 50%;

                width: 1.4px;
                height: 80%;
                transform: translateY(-50%);
                background-color: $color-text;
            }

            &::after {
                left: 0;
            }

            &::before {
                right: 0;
            }

            .footer-info__title {
                position: relative;
                color: $color-main;
                font-size: 3.2rem;

                &::after {
                    position: absolute;
                    content: "";
                    bottom: -4px;
                    left: 50%;

                    width: 50px;
                    height: 1.4px;
                    background-color: $color-text;
                    transform: translateX(-50%);
                }
            }
        }

        &__day {
            color: $color-main;
            margin-top: 28px;
        }

        &__hours {
            display: block;
            margin-top: 24px;
        }

        &__meal {
            display: block;
            margin-top: 8px;
        }
    }

    &-copyright {
        color: $color-text;
        background-color: #15151a;
        padding: 24px 0;
        text-align: center;
    }
}
